body {
	background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
    font-family: arial;
}

h1 {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 32px;
}

h2, h3 {
	font-family: 'Roboto Mono', monospace;
	font-size : 24px;
} 

ul, ol{
	font-family: 'Dancing Script', cursive;
	font-size : 20px;
} 

.cadre1 {
  background : #DCEFFA;
  border: 3px solid white;
  margin: 20px 100px;
  padding: 30px 70px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;
}

.cadre2 {
  background : #DCEFFA;
  border: 3px solid white;
  margin: 10px 100px;
  padding: 30px 70px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px grey;
} 

.my-btn {
  display: inline-block;
  color: white;
  background: #87CEEB;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.cadre0 {
  background: white;
  width: 100%;
  display : flex;
  justify-content : space-between;
  align-items : center;
}

.ligne1 {
  height: 40px;
  width: 40%;
  background: #B5D3FF;
}

.ligne2 {
  height: 40px;
  width: 20%;
  background: #5788CF;
}

.ligne3 {
  height: 40px;
  width: 40%;
  background: #B5D3FF;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FEFCEE;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 10px 30px;
  color: blue;
}

.link:hover {
  color: #458D2E;
}


